<footer>
    <div class="row justify-content-center">
    <div class="col-10">
        <hr class="hr" >
        <div class="row mtFooter ">
            <div class="col-4 ">
                <ul class="footerUL">
                    <li><a href="#!">О компании</a></li>
                    <li><a href="#!"> Доставка и оплата</a></li>
                    <li><a href="#!">Лента материалов</a></li>
                    <li><a href="#!"> Политика возврата</a></li>
                </ul>
            </div>
            <div class="col-4 FooterBLeft">
                <ul class="footerUL">
                    <li><a href="#!">Введите номер</a></li>
                    <li><a class="numberFooter" href="#!">+996 (__) ___ __ __</a></li>
                <p>Выберите удобный <br>
                     мессенджер для общения</p>
                </ul>
                <ul class="footerUL FooterULlink">
                    <a href="#!"><img src="/img/tarmoq/instagram.png" alt="png"></a>
                    <a href="#!"><img src="/img/tarmoq/telegram.png" alt="png"></a>
                    <a href="#!"><img src="/img/tarmoq/whatsapp.png" alt="png"></a>
                </ul>
            </div>
            <div class="col-4 FooterBLeft">
               <ul class="footerUL">
                   <li><a  class="numberFooter" href="#!"> Тел:+996 705 188 955 </a></li>
                   <li><a  class="numberFooter" href="#!">Тел:+996 555 188 955 </a></li>
                   <li><a class="numberFooter"  href="#!">Адрес:Бакаева 126</a></li>
               </ul>
            </div>
        </div>
       
    </div>
</div>
</footer>