<div class="left_div">
    <div class="left_top">
    <img src="/img/Masks Group.png" alt="png">
    <h2>Romsem</h2>
</div>
<div class="left_menu">
    <ul>
        <li><a class="active" href="/"><img src="/img/1.png" alt=""> Пицца</a></li>
        <li><a href="/set"><img src="/img/Сеты.png" alt="png"> Сеты</a></li>
        <li><a href="#!"><img src="/img/Вок.png" alt="png"> WOK</a></li>
        <li><a href="#!"><img src="/img/Вок (1).png" alt="png"> Роллы</a></li>
        <li><a href="#!"><img src="/img/Вок (2).png" alt="png"> Суши</a></li>
        <li><a href="#!"><img src="/img/Вок (3).png" alt="png">Салаты</a></li>
        <li><a href="#!"><img src="/img/Вок (4).png" alt="png">Супы</a></li>
        <li><a href="#!"><img src="/img/Вок (5).png" alt="png">Корн доги</a></li>
        <li><a href="#!"><img src="/img/Вок (6).png" alt="png">Напитки</a></li>
        <li><a href="#!"><img src="/img/Вок (7).png" alt="png">Акции</a></li>
    </ul>
</div>
</div>