<header class="header_top norderB">
    <div class="container">
        <div class="row ">
            <div class="col-12">
            <div class="row ">
                <div class="col-xl-3 col-md-4 norderL">
                <a class="aClas nash" href="">Наш телефон</a>
                <a class="aClas colorA" href="">+996 705 188 955</a>
                <a class="aClas colorA" href="">+996 555 188 955</a>
                <p class="P"><i class="fal fa-clock"></i> работаем с 10:00 до 00:00</p>
              </div>
              <div class="col-xl-9 col-md-8">
                <div class="row justify-content-between mt-4">
                 <div class="col-xl-2 col-lg-6 col-md-12 ">
                   <a class="gorod" href="/">Город:</a>
                    <a class="city" href="/">Бишкек</a>
                 </div>
                 <div class="col-auto ">
                   <div class="nav">
                     <ul class="row justify-content-lg-center">
                     <div class="col-auto">
                       <li><a class="active" href="/otzev">Отзывы</a></li>
                     </div>
                    <div class="col-auto">
                       <li><a href="">Доставка и оплата</a></li> 
                    </div>
                    <div class="col-auto">
                       <li><a href=""><i class="fal fa-search"></i></a></li>
                    </div>
                   </ul>
                   </div>
                 </div>
                </div>
              </div>
            </div>
            </div>
        </div>
    </div>
          

</header>