<div class="right_div">
    <div class="right_top">
        <h2>Ваша корзина пуста.</h2>
        <p>Добавьте же скорее что-нибудь!</p>
    
        <form action="">
            <button>Бесплатная доставка от 800 СОМ</button>
        </form>
    </div>
    <div class="right_map">
     <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d192936.03593220768!2d69.57488785!3d40.923955199999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1suz!2s!4v1639306943924!5m2!1suz!2s" width="300" height="100" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
<h2>Укажите адрес</h2>
<p>И узнайте время доставки</p>
<span><i class="fal fa-map-marker-alt"></i></span>
    </div>
</div>