<div class="otzev">
   <div class="container">
        <div class="row justify-content-center">
        <div class="col-11">
            <div class="otz_d d-flex justify-content-between align-items-center">
                <h3>Отзывы</h3>
                <a href="#!">+ Добавить отзыв</a>
            </div>
        </div>
    </div>
   </div>
</div>

<div class="otz_1">
    <div class="container">
        <div class="row  justify-content-center">
            <div class="col-11" style="  background: #FFFFFF;  border-radius: 5px;">
                <div class=" roz d-flex align-items-center justify-content-between">
                    <h4>Розалия</h4>
                    <h5>02.24.21</h5>
                </div>
                         <p>Ваша доставка и ваши блюда лучшие в Харькове!) всегда очень вкусно, вовремя, всегда вежливые курьеры и девушки на телефоне</p>
            </div>
        </div>
    </div>
</div>
<div class="otz_1">
    <div class="container">
        <div class="row  justify-content-center">
            <div class="col-11" style="  background: #FFFFFF;  border-radius: 5px;">
                <div class=" roz d-flex align-items-center justify-content-between">
                    <h4>Елена</h4>
                    <h5>02.23.21</h5>
                </div>
                         <p>Ооочень вкусно!!!!!</p>
            </div>
        </div>
    </div>
</div>
<div class="otz_1">
    <div class="container">
        <div class="row  justify-content-center">
            <div class="col-11" style="  background: #FFFFFF;  border-radius: 5px;">
                <div class=" roz d-flex align-items-center justify-content-between">
                    <h4>Сергей Гаврилюк</h4>
                    <h5>02.23.21</h5>
                </div>
                         <p>Заказываем у Вас больше 2 -ух лет, были разные ситуации, но сервис стал лучше, суши вкуснее. За доставку сегодня на время, огромное спасибо, точь-в-точь в минута в минуту. Успехов Вам и приятных бонусов нам )</p>
            </div>
        </div>
    </div>
</div>