<div class="PizzaDEV">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
          <div class="col-6">
           <img src="/img/Rectangle 13.png" class="d-block " alt="png">
          </div>
          <div class="col-6">
             <h2>Филадельфия и <br>
             лосось сет</h2>
             <p class="kg">290 грамм</p>
             <h3>1150 СОМ <span>- 10</span> <i class="fal fa-plus"></i></h3>
             <h5>Состав</h5>
             <p>Лосось, сыр "Филадельфия", огурец, авокадо</p>
             <form action="">
                                <button>Хочу!</button>
                            </form>
          </div>
      </div>
    </div>
   <div class="carousel-item ">
      <div class="row">
          <div class="col-6">
           <img src="/img/Rectangle 13.png" class="d-block " alt="png">
          </div>
          <div class="col-6">
             <h2>Филадельфия и <br>
             лосось сет</h2>
             <p class="kg">290 грамм</p>
             <h3>1150 СОМ <span>- 10</span> <i class="fal fa-plus"></i></h3>
             <h5>Состав</h5>
             <p>Лосось, сыр "Филадельфия", огурец, авокадо</p>
             <form action="">
                                <button>Хочу!</button>
                            </form>
          </div>
      </div>
    </div>
   <div class="carousel-item ">
      <div class="row">
          <div class="col-6">
           <img src="/img/Rectangle 13.png" class="d-block " alt="png">
          </div>
          <div class="col-6">
             <h2>Филадельфия и <br>
             лосось сет</h2>
             <p class="kg">290 грамм</p>
             <h3>1150 СОМ <span>- 10</span> <i class="fal fa-plus"></i></h3>
             <h5>Состав</h5>
             <p>Лосось, сыр "Филадельфия", огурец, авокадо</p>
             <form action="">
                                <button>Хочу!</button>
                            </form>
          </div>
      </div>
    </div>
   
  </div>
  
</div>
</div>

<div class="row justify-content-center">
    <div class="col-10">
        <h5 class="gg" >Рекомендуем к этому товару</h5>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    
    <div class="carousel-item active">
      <div class="row">
          <div class="col-4">
              <img src="/img/Ellipse 6.png" class="d-block w-90" alt="png">
              <p>Филадельфия</p>
              <span class="span">140 СОМ <i class="fal fa-plus"></i></span>
          </div>
          <div class="col-4">
              <img src="/img/Ellipse 6 (1).png" class="d-block w-90" alt="png">
              <p>Филадельфия</p>
              <span class="span">140 СОМ <i class="fal fa-plus"></i></span>
          </div>
          <div class="col-4">
              <img src="/img/Ellipse 6 (2).png" class="d-block w-90" alt="png">
              <p>Филадельфия</p>
              <span class="span">140 СОМ <i class="fal fa-plus"></i></span>
          </div>
      </div>
    </div>
    
  </div>
 
</div>
    </div>
</div>