<section class="section_Set">
    <div class="row  justify-content-center">
    <div class="col-10">
        <h1><img src="/img/Сеты.png" alt="png"> Сеты</h1>
        <div class="row">
            <div class="col-4">
                <div class="SetCard">
                    <div class="Mycontainer">
                     <img src="/img/pzza.png" alt="png">
                    <h4>Саломон сет</h4>
                    <p>1050 грамм, 30 кусочков</p>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <h3>1500 СОМ</h3>
                        </div>
                        <div class="col-6">
                            <form action="">
                                <button>Хочу!</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="SetCard">
                    <div class="Mycontainer">
                     <img src="/img/bg.png" alt="png">
                    <h4>Сет Филадельфий"</h4>
                    <p>1120 грамм 40 кусочек</p>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <h3>1500 СОМ</h3>
                        </div>
                        <div class="col-6">
                            <form action="">
                                <button>Хочу!</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="SetCard">
                    <div class="Mycontainer">
                      <img src="/img/tovar/1.png" alt="png">
                    <h4>Филадельфия сет</h4>
                    <p>1260 грамм 36 кусочек</p>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <h3>1500 СОМ</h3>
                        </div>
                        <div class="col-6">
                            <form action="">
                                <button>Хочу!</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="SetCard">
                    <div class="Mycontainer">
                     <img src="/img/tovar/3.png" alt="png">
                    <h4>Сет Филадельфий"</h4>
                    <p>1320 грамм 46 кусочек</p>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <h3>1500 СОМ</h3>
                        </div>
                        <div class="col-6">
                            <form action="">
                                <button>Хочу!</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="SetCard">
                    <div class="Mycontainer">
                      <img src="/img/tovar/3.png" alt="png">
                    <h4>Топовый сет</h4>
                    <p>1020 грамм 40 кусочек</p>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <h3>1500 СОМ</h3>
                        </div>
                        <div class="col-6">
                            <form action="">
                                <button>Хочу!</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="SetCard">
                    <div class="Mycontainer">
                     <img src="/img/tovar/3.png" alt="png">
                    <h4>Камикадзе сет</h4>
                    <p>1200 грамм 52 кусочек</p>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <h3>1500 СОМ</h3>
                        </div>
                        <div class="col-6">
                            <form action="">
                                <button>Хочу!</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="SetCard">
                    <div class="Mycontainer">
                     <img src="/img/tovar/4.png" alt="png">
                    <h4>Сет Филадельфии"</h4>
                    <p>1100 грамм 32 кусочек</p>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <h3>1500 СОМ</h3>
                        </div>
                        <div class="col-6">
                            <form action="">
                                <button>Хочу!</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="SetCard">
                    <div class="Mycontainer">
                     <img src="/img/tovar/3.png" alt="png">
                    <h4>Филадельфия сет</h4>
                    <p>1000 грамм 40 кусочек</p>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <h3>1500 СОМ</h3>
                        </div>
                        <div class="col-6">
                            <form action="">
                                <button>Хочу!</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="SetCard">
                    <div class="Mycontainer">
                   <img src="/img/tovar/6.png" alt="png">
                    <h4>Якудза сет</h4>
                    <p>1050 грамм, 30 кусочков</p>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <h3>1500 СОМ</h3>
                        </div>
                        <div class="col-6">
                            <form action="">
                                <button>Хочу!</button>
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="matin">Заказать суши в Бишкеке</h2>
            <p class="Text">Ресторан “Суши и Лапша” предлагаем своим клиентам самые вкусные суши с доставкой на дом, приготовленные по классическим и адаптированным к европейской аудитории рецептам, а также собственным наработкам наших поваров. Мы ценим время наших клиентов, поэтому вы можете заказать суши в Харькове с доставкой на дом или в офис.</p>
           <p class="Text"> В нашем меню более 20 видов суши:</p>
          <ul>
               <li class="Lilist"><a href="#!">Классические с сырым лососем, тунцом, окунем.</a></li>
           <li class="Lilist"><a href="#!">Экзотические с тигровой креветкой, морским гребешком.</a></li>
           <li class="Lilist"><a href="#!">Пикантные с копченым лососем, угрем.</a></li>
          </ul>
           <p class="Text">В меню также представлены гунканы: с начинкой из красной икры и тобико, а также феликсы, где японский майонез сочетается с рыбой, морепродуктами, угрем. Любители острых блюд могут купить суши с соусом спайси. Популярные начинки — копченая курица, снежный краб, креветки, гребешки, тунец, лосось и окунь.</p>
        </div>
    </div>
</div>  
</section>